.music-circle{
    display: grid;
    width: 500px;
    height: 680px;
    border-radius: 50%;
    border: 6px solid ;
    background-image: url(/public/berlin.jpeg);
    background-size:cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
}
h2{
    color: rgb(12, 188, 211);
    background-color: white;
}
