.big-circle{
    display: flex;
    position: relative;
    background-color: green;
    width: 600px;
    height: 600px; 
    border-radius: 50%;
    justify-content: center;
   align-items: center;
 }
 .small-circle {
    width: 60px;
    height: 60px;
    background-color: #e74c3c;
    border-radius: 50%; /* Makes it a circle */
    position: absolute;
    
  }
  .small-circle:nth-child(1){
    top: 5%;
    left: 5%;
  }
  .small-circle:nth-child(2) {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .small-circle:nth-child(3) {
    top: 5%;
    right: 5%;
  }
  
  .small-circle:nth-child(4) {
    bottom: 5%;
    left: 5%;
  }
  
  .small-circle:nth-child(5) {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }