/* src/NestedCircles.css */
body{
 background-color: black;
 overflow: auto;
}
.main-page {
  justify-items: center;
}

.big-circle {
    width: 700px;
    height: 700px;
    background-color: antiquewhite;
    background-image: url(/public/moon.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    
    
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  .small-circle {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    transition-duration: 500ms;
    transition-property: background;
    display: grid;
    transition: transform 0.3s ease;
  }
  
  .circleText{
    color: white;
    display: grid;
    justify-content: center;
    justify-items: center; 
    align-items: center;
    align-content: center;  
  }
   h1{
    color: white;
    display: grid;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 0;
    margin: 0;
  }
  .small-circle:hover{
    border-color: white;
    border-width: 20px;
    border: 2px solid white;
    background-color: black;
    transform: scale(1.5);
    cursor: pointer;
    background-image: url(/public/fish.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

 }
 .small-circle.left{
  background-color: rgba(0, 166, 255, 0.426);
  width: 200px;
  height: 200px;
  position:relative;
  
 }
 .bigMoon-content{
  color: white;
  font-family: system-ui;
  font-size: 1em;
  overflow: auto;
 }
 .bigMoon-details{
background-color: rgba(0, 0, 0, 0.554);
  text-align: justify;
  font-size: 2em;
  
 }
 .bigMoon-title{
  color:rgb(255, 255, 255) ;
  background-color: black;
  font-size: 1em;
 }

 
  